<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<form th:action="@{/registration}" method="post" th:object="${user}">
    <table>
        <tr>
            <td><label for="firstName">First Name</label></td>
            <td><input id="firstName" type="text" th:field="*{firstName}" required></td>
        </tr>
        <tr>
            <td><label for="lastName">Last Name</label></td>
            <td><input id="lastName" type="text" th:field="*{lastName}" required></td>
        </tr>
        <tr>
            <td><label for="age">User age</label></td>
            <td><input id="age" th:field="*{age}" required></td>
        </tr>
        <tr>
            <td><label for="email">email</label></td>
            <td><input id="email" type="text" th:field="*{email}" required></td>
        </tr>
        <tr>
            <td><label for="password">User password</label></td>
            <td><input id="password" th:field="*{password}" type="password" required></td>
        </tr>
        <tr>
            <td><label for="roles">Authorities</label></td>
            <td><input id="roles" type="checkbox" name="roles"
                       th:each="role : ${allRoles}"
                       th:text="${role.getName()}"
                       th:value="${role.getId()}"
            /></td>
        </tr>
        <tr>
            <td><input type="submit" value="Ok"></td>
        </tr>
    </table>
</form>
</body>
</html>